.animate-1 {
    animation-delay: 0ms;
}
.animate-2 {
    animation-delay: 200ms;
}
.animate-3 {   
    animation-delay: 400ms;
}
.animate-4 {
    animation-delay: 600ms;
}
.hover-cursor:hover {
    cursor: pointer;
}