.animate-1 {
    animation-delay: 0ms;
}
.animate-2 {
    animation-delay: 200ms;
}
.animate-3 {   
    animation-delay: 400ms;
}
.animate-4 {
    animation-delay: 600ms;
}
.hover-cursor:hover {
    cursor: pointer;
}

/* Make a media query that turns the navbar cornflower blue when the screen is on a mobile phone */
@media screen and (max-width: 600px) {
    .custom-nav {
        background-color: #6495ED !important;
    }
}