@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('animations.css');
@import url('terminal.css');

* {
    scroll-behavior: smooth;
}

:root {
    --graphite-gray: #53565b;
    --cornflower-blue: #6495ED;
    --white: #fff;
}

/* Button colors */
.btn-cornflower-blue {
    background-color: var(--cornflower-blue);
    color: var(--white);
}
.btn-outline-cornflower-blue {
    background-color: transparent;
    color: var(--cornflower-blue);
    border: 1px solid var(--cornflower-blue);
}

/* Background colors */
.bg-cornflower-blue {
    background-color: var(--cornflower-blue);
}
.bg-graphite-gray {
    background-color: var(--graphite-gray);
}

/* Button hovers */
.btn-cornflower-blue:hover {
    background-color: darken(var(--cornflower-blue), 10%);
}
.btn-outline-cornflower-blue:hover {
    background-color: var(--cornflower-blue);
    color: var(--white);
}

/* Text colors */
.text-cornflower-blue {
    color: var(--cornflower-blue) !important;
}
.text-graphite-gray {
    color: var(--graphite-gray) !important;
}

/* Text sizes */
.text-xxl {
    font-size: 2.5rem;
}
.text-xl {
    font-size: 2rem;
}
.text-lg {
    font-size: 1.5rem;
}
.text-md {
    font-size: 1.25rem;
}
.text-sm {
    font-size: 1rem;
}
.text-xs {
    font-size: 0.75rem;
}

/* Background SVGs */
.bg-wave-1 {
    background-image: url('../images/wave.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50vh;
}
.bg-wave-2 {
    background-image: url('../images/wave-2.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}
.bg-wave-3 {
    background-image: url('../images/wave-3.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}
.bg-wave-4 {
    background-image: url('../images/wave-4.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    
    height: 100vh;
}
.bg-blob-1 {
    background-image: url('../images/blob-1.svg');
    background-repeat: no-repeat;
    height: 100vh;
}


/* Text fonts */
.text-bebas-neue {
    font-family: 'Bebas Neue', cursive;
}

/* Media queries for text aligning */
/* MD */
@media (max-width: 768px) {
    .text-align {
        text-align: center;
    }
}
/* SM */
@media (max-width: 576px) {
    .text-align {
        text-align: center;
    }
}
/* LG */
@media (max-width: 992px) {
    .text-align {
        text-align: center;
    }
}
/* XL */
@media (max-width: 1200px) {
    .text-align {
        text-align: center;
    }
}

/* Snap sections */
.snap-1 {
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
}
.snap-2 {
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
}