@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('animations.css');
@import url('terminal.css');

* {
    scroll-behavior: smooth;
}

:root {
    --graphite-gray: #53565b;
    --cornflower-blue: #6495ED;
    --white: #fff;
    --warning: #FFC107;
    --danger: #DC3545;
    --success: #28A745;
}

/* Button colors */
.btn-cornflower-blue {
    background-color: var(--cornflower-blue);
    color: var(--white);
}
.btn-outline-cornflower-blue {
    background-color: transparent;
    color: var(--cornflower-blue);
    border: 1px solid var(--cornflower-blue);
}
.btn-graphite-gray {
    background-color: var(--graphite-gray);
    color: var(--white);
}

/* Background colors */
.bg-cornflower-blue {
    background-color: var(--cornflower-blue);
}
.bg-graphite-gray {
    background-color: var(--graphite-gray) !important;
}
.bg-glass {
    background: rgba(255, 255, 255, 0.501);
    box-shadow: 0 0px 6px 1px var(--white);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
}

/* Button hovers */
.btn-cornflower-blue:hover {
    background-color: darken(var(--cornflower-blue), 10%);
}
.btn-outline-cornflower-blue:hover {
    background-color: var(--cornflower-blue);
    color: var(--white);
}
.btn-graphite-gray:hover {
    background-color: var(--cornflower-blue);
    color: var(--white);
}

/* Text colors */
.text-cornflower-blue {
    color: var(--cornflower-blue) !important;
}
.text-graphite-gray {
    color: var(--graphite-gray) !important;
}

/* Text sizes */
.text-xxl {
    font-size: 2.5rem;
}
.text-xl {
    font-size: 2rem;
}
.text-lg {
    font-size: 1.5rem;
}
.text-md {
    font-size: 1.25rem;
}
.text-sm {
    font-size: 1rem;
}
.text-xs {
    font-size: 0.75rem;
}

/* Background SVGs */
.bg-wave-1 {
    background-image: url('../images/wave.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50vh;
}
.bg-wave-2 {
    background-image: url('../images/wave-2.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}
.bg-wave-3 {
    background-image: url('../images/wave-3.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
}
.bg-wave-4 {
    background-image: url('../images/wave-4.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    
    height: 100vh;
}
.bg-blob-1 {
    background-image: url('../images/blob-1.svg');
    background-repeat: no-repeat;
    height: 100vh;
}
.bg-polygon {
    background-image: url('../images/polygon.svg');
    background-repeat: no-repeat;
}


/* Text fonts */
.text-bebas-neue {
    font-family: 'Bebas Neue', cursive;
}
.text-montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* Media queries for text aligning */
/* MD */
@media (max-width: 768px) {
    .text-align {
        text-align: center;
    }
}
/* SM */
@media (max-width: 576px) {
    .text-align {
        text-align: center;
    }
}
/* LG */
@media (max-width: 992px) {
    .text-align {
        text-align: center;
    }
}
/* XL */
@media (max-width: 1200px) {
    .text-align {
        text-align: center;
    }
}

/* Search bar */
.search {
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

/* Form Inputs */
.search-form:focus {
    outline: none !important;
    border: 1px solid var(--graphite-gray) !important;
    box-shadow: none !important;
}

/* Navbar links (Desktop First)*/
.nav-item {
    box-shadow: -1px 1px 3px 1px var(--graphite-gray) !important;
    border-radius: 10px !important;
    transition: background-color 0.3s linear;
}

.nav-item:hover {
    box-shadow: -1px 1px 3px 1px var(--graphite-gray) !important;
    background-color: var(--cornflower-blue) !important;
    border-radius: 10px !important;
}
.nav-link {
    transition: color 0.3s linear;
}

/* Media query for nav items */
/* MD */
@media (max-width: 768px) {
    .nav-item {
        box-shadow: none !important;
        border-radius: none !important;
    }
    .nav-item:hover {
        box-shadow: none !important;
        background-color: transparent !important;
        border-radius: none !important;
    }
    .nav-link:hover {
        color: var(--white) !important;
    }
}
/* LG and XL */
@media (min-width: 992px) {
    .nav-item {
        margin: 0 0.5rem !important;
    }
}

/* Borders */
.border-graphite-gray {
    border: 1px solid var(--graphite-gray) !important;
}
.border-cornflower-blue {
    border: 1px solid var(--cornflower-blue) !important;
}

/* About me section */
.about-me-header {
    background-color: var(--graphite-gray);
    color: var(--white);
    margin: 0;
    padding: 0;
}

/* Project Section */

.project-header {
    background-color: var(--cornflower-blue);
    color: var(--white);
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    font-family: 'bebas neue', cursive;
    margin: 0;
    text-align: center;
    transition: all 0.3s linear;
}

.project-body {
    background-color: var(--white);
    color: var(--cornflower-blue);
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    margin: 0;
    text-align: center;
    transition: all 0.3s linear;
}

.project-footer {
    color: var(--white);
    padding-top: 1.0rem;
    padding-bottom: 1.0rem;
    margin: 0;
    text-align: center;
    transition: all 0.3s linear;
}

.in-progress {
    background-color: var(--warning);
}

.completed {
    background-color: var(--success);
}

.not-started {
    background-color: var(--danger);
}

.status::after {
    display: block;
    content: '';
    border-bottom: 2px solid var(--white);
    margin-bottom: 0;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}